<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item *ngFor="let cart of carts" style="margin-top: 20px;">
      <ion-avatar slot="start">
        <img src="{{baseUrl}}assets/images/products/{{cart.photo}}" />
      </ion-avatar>

      <label>{{cart.name}}</label>
      
      <ion-button color="primary" slot="end">Order</ion-button>
      
    </ion-item>
  </ion-list>
</ion-content>
