<ion-header collapse="condense">
  <ion-toolbar color="primary">
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let product of products">
        <ion-card (click)= "gotoDetailProduct(product.productId)">
          <img src="{{baseUrl}}assets/images/products/{{product.photo}}" style="max-height: 140px;" />
          <ion-card-header>
            <ion-card-subtitle><b>IDR.</b>{{product.harga}}</ion-card-subtitle>
            <h3>{{product.name}}</h3>
          </ion-card-header>
          <ion-card-content>
           <!-- tombol detail dan cart -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>
