<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="{{baseUrl}}assets/images/products/{{photo}}" width="100%" />

  <div class="container" style="padding-left: 20px; padding-right: 20px; margin-top: 20px;">

    <ion-card-title>
      {{name}}
    </ion-card-title>

    <ion-card-subtitle style="font-size:15px ;">
      IDR. {{harga}}
    </ion-card-subtitle>

    <p>{{description}}</p>
    
    <p>Stok: {{stok}}</p>

    
    <ion-button color="warning" (click) = "cartAlertPrompt()">Add To Cart</ion-button>

  </div>

</ion-content>
